%button {
  @include displayFlex(center, center);
  background-color: #8D81AC;
  border-radius: 40px;
  border: none;
  transition: .4s;
  cursor: pointer;
  &:hover {
    border: 1px solid #8D81AC;
    background-color: #fff;
    color: $main-text-color;
  }
}
%burger {
  width: 26px;
  height: 21px;
  position: absolute;
  z-index: 10;
}