.nav {
  @include displayFlex(flex-end, center);
  list-style: none;
  @include fontStyle(16px,700, 1, $main-text-color, center, capitalize);
  &__item-link {
    transition: .3s;
    &:hover {
      color: #fff;
    }
  }
}
.header {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 2;
  &__logo-wrapper {
    @include displayFlex(flex-start, center);
  }

  &__logo {
    margin-left: 17px;
    @include fontStyle(24px,700, 1, $main-text-color, left, uppercase, "Lato");
  }
  &__menu {
    @include displayFlex(space-between, center);
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__nav {
    flex: 1 1 auto;
    column-gap: 48px;
  }

  &__button {
    @extend %button;
    margin-left: 38px;
    width: 145px;
    height: 38px;
    @include fontStyle(16px, 700, 1, #fff, center, capitalize);
  }
  &__dropdown-nav {
    position: absolute;
    width: 290px;
    flex-direction: column;
    align-items: flex-end;
    left: calc(50% - 145px);
    top: 118px;
    @include fontStyle(26px, 400, 1, #fff, left, capitalize);
    list-style: none;
  }
}
.dropdown-nav {
  &__item {
    width: 100%;
    height: 88px;
    background-color: #333333;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #3B3B3B;
    position: relative;
    &:before {
      content: "";
      width: 8px;
      height: 53px;
      background-color: #8D81AC;
      position: absolute;
      left: 0;
      z-index: 15;
      display: none;
    }
    &:hover {
      color: $main-text-color;
      &:before {
        display: block;
      }
    }
  }
  &__item-link {
    transition: .3s;
    padding-left: 35px;
  }
  display: none;
}

.header__logo-wrapper:hover .header__logo{
  color: #fff;
}

.header__logo-wrapper:hover .header__logo-icon {
  filter: contrast(0%) brightness(1000%);
}
.burger-btn {
  @include displayFlex(space-between, flex-end, column);
  @extend %burger;
  right: 10px;
  display: none;
  cursor: pointer;
  &__line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: .4s;
    &--short {
      width: 60%;
      &.active {
        display: none;
      }
    }
    &:nth-child(2) {
      &.active {
        transform: rotate(45deg);
        position: relative;
        top: 5px;
      }
    }
    &:nth-child(3) {
      &.active {
        position: relative;
        bottom: 13px;
        transform: rotate(-45deg);
      }
    }
  }
}