.hero-block {
  background-image: url(../img/backgr/header-bg.png);
  padding-top: 120px;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: (50%, 50%);
  position: relative;
  &__action-wrapper {
    @include displayFlex(center, center, column);
    position: absolute;
    bottom: -63px;
    left: calc(50% - 195px)
  }
  &__button {
    @include fontStyle(21px, 700, 1, #fff, center, capitalize);
    @extend %button;
    margin-bottom: 20px;
    width: 390px;
    height: 62px;
    margin-bottom: 20px;
  }
  &__trial-info {
    @include fontStyle(15px, 400, 1, $subtitle-text-color, center, capitalize);
  }
}
.main-title {
  @include fontStyle(82px, 700, 1, #fff, center, uppercase);
  margin-bottom: 10px;
}
.lead-text {
  @include fontStyle(30px, 400, 1, $main-text-color, center, none, "Lato");
  margin-bottom: 20px;
}
.subtitle {
  @include fontStyle(16px, 400, 1, $subtitle-text-color, center, uppercase);
}